body*{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    }
/* header */
nav{
    background-color: transparent;
}
header img{
    width: 40px;
}
/* fondo en comun entre secciones */
.bg-oscuro{
    background-color: black;
}

/* seccion quienes somos */
#quienes-somos .fondo-azul{
    background-color: rgba(11, 215, 241, 0.815);
}



#destacados .fondo-azul{
    background-color: rgba(11, 215, 241, 0.815);

}


fondo-azul{
    background-color: rgba(11, 215, 241, 0.815);
    

}

footer a{
    color:white;
}