body *{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    }

    html {
        scroll-behavior: smooth;
        }
/* header */
nav{
    background-color: transparent;
}
header img{
    width: 40px;
}
/* fondo en comun entre secciones */
.bg-oscuro{
    background-color: black;
}
/* seccion quienes somos */
#quienes-somos .fondo-azul{
    background-color: rgba(11, 215, 241, 0.815);
}
/* destacados */
#destacados .fondo-azul{
    background-color: rgba(11, 215, 241, 0.815);
}
#destacados .container .row .card{
    width: 24%;
}
/* pie de pagina */
.fondo-azul{
    background-color: rgba(11, 215, 241, 0.815);
}
footer a{
    color:white;
}